mixin panel(image,title,price,res1,res2,res3,res4,res5,res6,res7,res8,res9,res10,res11)
  .panel.d-flex.container
    figure.panel__img-container
      img(src=`img/catalogo/${image}`, alt="").panel__img
    .panel__information.d-flex-direction
      h1.panel__title #{title}
      .panel__linea.border-linea
      .panel__description
        p.panel__subtitle Potencia Nominal Pmax: #[span.panel__respuesta #{res1}]
        p.panel__subtitle Tensión nominal U MPP: #[span.panel__respuesta #{res2}]
        p.panel__subtitle Corriente nominal IMPP: #[span.panel__respuesta #{res3}]
        p.panel__subtitle Circuito abierto tensión: #[span.panel__respuesta #{res4}]
        p.panel__subtitle Corriente de cortocircuito ISC:  #[span.panel__respuesta #{res5}]
        p.panel__subtitle Eficiencia del Modulo: #[span.panel__respuesta #{res6}]
        p.panel__subtitle Dimensiones: #[span.panel__respuesta #{res7}]
        p.panel__subtitle Caja del marco Altura / con: #[span.panel__respuesta #{res8}]
        p.panel__subtitle Peso: #[span.panel__respuesta #{res9}]
        p.panel__subtitle Conectividad del módulo: #[span.panel__respuesta #{res10}]
        p.panel__subtitle Color del marco: #[span.panel__respuesta #{res11}]
        h2.panel__price #[span.panel__titlePrice precio: ]#{price}